li {
    .id{
        padding: 1rem;
        margin : 0 1rem;
        color: white;
        border-radius: 0.5rem;

        
    }
    .pair{
        background-color: black;
    }
    .impair{
        background-color: grey;
    }


    margin: 2rem;

}