<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Email : </label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        <div *ngIf="loginForm.controls['email'].errors?.['required']">
            Please enter an e-mail.
        </div>
        <div *ngIf="loginForm.controls['email'].errors?.['email']">
            Please enter a valid e-mail.
        </div>
    </div>
    <div>
        <label for="password">Password : </label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            <div *ngIf="loginForm.controls['password'].errors?.['required']">
                Please enter a password.
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Log in</button>
    
</form>